@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "header.css";
@import "footer.css";
@import "master.css";
@import "home.css";
@import "ephatha.css";
@import "news.css";
@import "login.css";




