.navbar{
    margin-bottom: 5rem;
}
.nav-link{
    color: white;
    margin-bottom: none;
    padding-bottom: 0;
}
.nav-link:hover{
    color: white;
    border-bottom: 1px solid #f05454;
}
.navbar-brand, .navbar-brand:hover{
    color: white;
}
h3{
    color: white;
}
img{
    height: auto;
    width: 60px;
    margin-right: 1rem;
}
.navbar-nav{
    margin-left: 4rem;
}
@media (max-width:576px){
    .navbar-nav{
        margin-left: 0 !important;
    }
  }
  @media (max-width:768px){
    .navbar-nav{
        margin-left: 0 !important;
    }
  }
  @media (max-width:992px){
    .navbar-nav{
        margin-left: 0 !important;
    }
}