        /* photo upload */
    .photo-container{
        min-height: 100vh;
    }
    .photoup-header{
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .albumc{
        margin-top: 5rem;
    }
    
    .create-album{
        width: 700px;
        height: auto;
    }
    .upload-col{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .photo-card {
        width: 800px;
        height: auto;
        padding: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        overflow: hidden;
        background: #fafbff;
    }
    .album-select{
        margin-top: 2rem;
        width: 400px;
    }
    button {
        outline: 0;
        border: 0;
        -webkit-appearence: none;
        background: #5256ad;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        font-size: 0.8rem;
        padding: 8px 13px;
        margin-top: 1rem;
    }
    
    button:hover {
        opacity: 0.8;
    }
    
    button:active {
        transform: translateY(1px);
    }
    
    .photo-form {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border:  2px dashed #d5d5e1;
        color: #c8c9dd;
        font-size: 0.9rem;
        font-weight: 500;
        position: relative;
        background: #dfe3f259;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        margin-top: 20px;
    }
    
    form .select {
        color: #5256ad;
        margin-left: 7px;
        cursor: pointer;
    }
    
    form input {
        display: none;
    }
    
    form.dragover {
        border-style: solid;
        font-size: 2rem;
        font-weight: 600;
        color: #c8c9dd;
        background: rgba(0, 0, 0, 0.34);
    }
    
    .blank-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        height: auto;
        margin-top: 20px;
        max-height: 300px;
        overflow-y: auto;
    }
    
    .blank-container .image {
        height: auto;
        width: 100px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        position: relative;
        margin-bottom: 7px;
        margin-right: 7px;
    }
    
    .blank-container .image:nth-child(4n) {
        margin-right: 0;
    }
    
    .blank-container .image img {
        height: 100%;
        width: 100%;
    }
    
    
    .blank-container .image span {
        position: absolute;
        top: -4px;
        right: 5px;
        cursor: pointer;
        font-size: 22px;
        color: #fff;
    }
    
    .blank-container .image span:hover {
        opacity: 0.8;
    }
    .s-album{
        color: darkblue;
    }
       