/* login start */
.main-title{
    margin-top: 5rem;
}
.custom-login{
    min-height: 100vh;
}
.content-box{
    background-color: rgba(255, 255, 255,0.3);
    border-radius: 5px;
    margin-top: 2rem;
    padding: 55px 20px;
    box-shadow:  2px 2px 5px #bebebe;
}
.form-group label{
    font-size: 20px;
    font-weight: bold;
}
.form-group input{
    border:none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #bebebe;
    font-weight: 500;
    font-size: 18px;
    height: 42px;
    margin-bottom: 2rem;
}
.forgot{
    text-align: right;
}
.forgot a{
    font-weight: 500;
    font-size: 18px;
}
.custom-button button{
    border: 0;
    border-radius: 50px;
    background-color: #222831;
    color: #dddddd;
    font-weight: bold;
    box-shadow: 0px 6px 7px 0px rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 42px;
    margin-bottom: 2rem;
}
.custom-button button:hover{
    border: 2px solid #222831;
    background-color: #dddddd;
    color:#222831;

}
/* login end */