body{
    margin:0;
    font-family:var(--bs-body-font-family);
    font-size:var(--bs-body-font-size);
    font-weight:var(--bs-body-font-weight);
    line-height:var(--bs-body-line-height);
    background-color: #F1F6F9;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color:transparent;
  }